.page {
    background-color: #ffffff;
    color: #757575;
}

.list {
    list-style: none;
}

/* цвет основного текста #212121*/
/* вторичные цвета текста #757575*/
/* белый #FFFFFF */ 
/* синий #2196F3 */ 
 
/* акцент #2F303A*/



/* header section*/
 
.logo {
    color:#2196F3 ;
}

.logo-2nd-part {
    color: #212121;
}

/* site nav*/
.site-nav .link1 {
    color: #2196F3;
}
.site-nav .link2 {
    color: #212121;
}

.site-nav .link1:hover, 
.site-nav .link1:focus {
    color: #000000;
}

.site-nav .link2:hover,
.site-nav .link2:focus {
    color: #2196F3;
}

/* authoriz-nav*/
.authoriz-nav .mail {
    color: #2196F3;
}

.authoriz-nav .phone {
    color: #212121;
}

/* main section */

