.page {
  background-color: #ffffff;
  color: #757575;
}

.list {
  list-style: none;
}

.logo {
  color: #2196f3;
  text-decoration: none;
}

.logo-2nd-part {
  color: #212121;
  text-decoration: none;
}

/* site nav*/

.site-nav .link {
  color: #212121;
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

/* authoriz-nav*/

.authoriz-nav .item {
  color: #757575;
  text-decoration: none;
}

.authoriz-nav .item:hover,
.authoriz-nav .item:focus {
  color: #2196f3;
}
/* Main page */
/* main section */

.section-idea {
  background-color: #2f303a;
  width: 1600px;
}

.idea-h1 {
  color: #ffffff;
}

.idea-button {
  background-color: #2196f3;
  color: #ffffff;
}

.principles-title {
  color: #212121;
}

.our-work-title {
  color: #212121;
}

.our-team {
  background-color: #f5f4fa;
}

.our-team-title {
  color: #212121;
}

.workers-title {
  color: #212121;
}

/* Portfolio */
/* nav-section */

.portfolio-nav .item {
  color: #212121;
}

.portfolio-nav .item:hover,
.portfolio-nav .item:hover {
  background-color: #2196f3;
  color: #ffffff;
}

/* main section */

.projects-works {
  color: #757575;
}

/* footer section*/
.footer {
  background-color: #2f303a;
  color: #757575;
}

.logo-2nd-part-footer {
  color: #ffffff;
}

.footer-adress-text {
  color: #ffffff;
}

.footer-adress .mail {
  color: #757575;
}

.footer-adress .phone {
  color: #757575;
}
